body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    background-color: #f4f4f1;
}

/* header stuff here */
header {
    background-color: #97A6AF;
    color: #f4f4f1;
    padding: 1rem 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

/* Navigation stuff here */
nav {
    background-color: #f4f4f1;
}

nav ul {
    margin: 0rem;
    padding: 0rem 10px;
    list-style-type: none;
    display: flex;
    text-align: center;
}

nav a {
    display: block;
    padding: .83rem 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    color: #5c564e;
    font-weight: 700;
}

nav li.active a {
    text-decoration: underline;
    text-underline-offset: 4px;
    /* adds space between text and underline */
    text-decoration-thickness: 2px;
    /* makes underline thicker */
}

nav li a:hover {
    Color: #97A6AF;
}

/* main stuff here*/
main {
    padding: 1rem 10px;
}

main h1 {
    color: #0f1316;
}

main h2 {
    color: #0f1316;
    margin-bottom: .2rem;
}

main p {
    margin: 0;
    color: #313131;
}

main ol {
    padding: .5rem 30px;
    color: #5c564e;
}

main dl dt {
    color: #313131;
    font-weight: 700;
    margin-top: 1rem;
}

main dl dd {
    color: #5c564e;
    font-size: .9rem;
    margin-left: 20px;
}

main ul li {
    line-height: 125%;
    color: #97A6AF;
    margin-bottom: .5rem;
    font-size: .9rem;
    list-style-type: circle;
}

h3 {
    color: #0f1316;
    font-weight: 500;
    margin-bottom: .2rem;
}
main a {
    color: #7f919a;
    text-decoration: underline; /* optional: removes underline */
}
main a:hover {
    text-decoration: underline; /* optional: adds underline on hover */
    color: #97a6af; /* optional: slightly darker shade on hover */
}

/* address stuff here*/
address {
    color: #0f1316;
    background-color: #cfc6b3;
    padding: .5rem;
    width: 200px;
    border: 1px solid #0f1316;
    border-radius: 10px;
}

address a {
  color: #7f919a;
  text-decoration: underline; /* optional: removes underline */
}

address a:hover {
  text-decoration: underline; /* optional: adds underline on hover */
  color: #97a6af; /* optional: slightly darker shade on hover */
}

/* footer stuff here*/
footer {
    background-color: #e1e1e1;
    text-align: center;
    color: #024873;
    padding: 1rem 0;

}
footer a {
    color: #7f919a;
    text-decoration: underline; /* optional: removes underline */
}
footer a:hover {
    text-decoration: underline; /* optional: adds underline on hover */
    color: #97a6af; /* optional: slightly darker shade on hover */
}

footer p {
    margin: 0;
    font-size: .8rem;
    color: #333;
    letter-spacing: 3px;
}